 /* Reset CSS */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration:none;
	}
}



/* Font Family  */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*  Varaibles  */

$pri-col:#FFFFFF;
$nav-bg:#17181B;
$body-bg:#2C2D2F;
$border-col:#202226;
$nav-col:#777777;
$p-font : 'Rubik', sans-serif;
$spec-col:#00A3E1;

/*        Root       */

:root{
	/*background: #ff0000;*/
	color: #333333;
}
::selection{
	background: $spec-col;
	color: #fff;
	text-shadow: none;
	/*font-family: $font;*/
}

/**************************************************************************




***************************************************************************/
body{
	font-family: $p-font;
}
p{
	font-size: 14px;
	line-height: 34px;
}
a{
	font-size: 14px;
}
::-webkit-scrollbar{
	width: 0;
}

/* Menu Links */

.menu-links{
	background: $nav-bg;
	color: $pri-col;
	height: 100vh;
	/*max-width: 300px;*/
	width: 100%;
	position: fixed; 
	top: 0;
	left: 0;
	bottom:0;
	.image-holder{
		text-align: center;
		padding: 40px 0;
		img{
			max-height: 150px;
			margin: 0 auto;
			border-radius: 50%;
			border:2px solid $pri-col;
		}
	}
	.links{
		ul{
			text-align: center;
			li{
				border-bottom: 1px solid $border-col;
				a{
					padding: 15px 30px;
					color: $nav-col;
					text-transform: uppercase;
					transition: 400ms all ease-in-out;
					display: block;
					&:hover{
						color:$spec-col;
						li{
							border-bottom: 1px solid $pri-col;
						}
					}
				}
			}
		}
	}
	.social-links{
		ul{
			display: flex;
			padding-top: 50px;
			justify-content: center;
			li{
				a{
					display: block;
					color: $nav-col;
					padding: 0 10px;
					transition: 400ms all ease-in-out;
					position: relative;
					.fa{
						font-size: 16px;
						padding: 10px 12px; 
						transition: 400ms all ease-in-out;
						border-radius: 50%;
						border: 1px solid transparent;   
					}
					&:hover{
						color:$spec-col;
						.fa{	
							background: $pri-col;
							border-color: $spec-col;
						}
					}
				}
			}
		}
	}
}

/************************************************************

		Banner Styles

**************************************************************/


.body-inner{
	max-height: 100vh;
	overflow: hidden;
	section{
		width: 100%;
		max-height: 100vh;
		/*overflow: hidden;*/
		position: relative;
		background: $body-bg;
	}
	.banner{
		width: 100%;
		height: 100vh;
		background-image: url('../images/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		.overlay{
			position: relative;
			height: 100vh;
			width: 100%;
			background: rgba(255,255,255,0.5);
		}
		&_cnt{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    z-index: 9999;
		    width: 100%;
		    text-align: center;
		    &_title{
		    	font-size: 48px;
		    	line-height: 58px;
		    	color: $nav-bg;
		    	margin-bottom: 20px;
		    	letter-spacing: 0.1em;
		    	h1{
		    		font-weight: bold;
		    		text-transform: uppercase;
		    		span{
		    			color: $spec-col;
		    		}
		    	}
		    }
		    &_role{
		    	font-size: 28px;
		    	line-height: 38px;
		    	letter-spacing: 0.02em;
		    	width: 40%;
    			margin: 0 auto;
		    	h5{
		    		font-weight: bold;
		    	}
		    }
		   /* &_arrow{
		    	margin-top: 60px;
		    	a{
		    		color: $border-col;
		    		height: 60px;
		    		position: relative;
		    		.fa{
		    			font-size: 32px;
		    			padding-top: 20px;
		    			animation: jump 400ms infinite;
		    		}
		    	}
		    }*/
		}
		.banner_cnt_arrow{
			position: absolute;
			left: 50%;
			top: 70%;
			transform: translate(-50%,-50%);
			z-index: 99999;
			animation: jump 1s infinite;
			a{
				color: $nav-bg;
				.fa{
					font-size: 32px;
				}
			}
		}

	}




/************************************************************

		About  Styles

**************************************************************/
	
	.sec-btn{
		color: $pri-col;
		width: 200px;
		height: 40px;
		border:1px dashed $spec-col;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    transition: 400ms all ease-in-out;
	    position: relative;
	    letter-spacing: 0.25em;
	    font-size: 14px;
	    text-transform: uppercase;
	    margin-top: 100px;
	    /*border-radius: 10px;*/
	    z-index: 9999999;
	    &:before{
	    	content:'';
	    	position: absolute;
	    	/*z-index: -1;*/
	    	width: 200px;
	    	height: 40px;
	    	/*background: red;*/
	    }
	    &:after{
	    	
	    }
	   
	    &:hover{
	    	background: $spec-col;
	    }
	}

	.section_wrap{
		padding: 30px 60px;
		height: 100vh;
		overflow-y:scroll; 
		padding-bottom: 100px;
		.title_wrap{
			display: flex;
			padding-bottom: 10px;
			border-bottom: 1px dashed $spec-col;
			.title{
				width: 100%;
				h1{
					font-size: 32px;
					line-height: 42px;
					color: $spec-col;
				}
			}	
			.icon{
				width: 100%;
				text-align: right;
				.fa{
					font-size: 32px;
					line-height: 42px;
					color: $spec-col;
				}
			}
		}
	}
	.about{
		width: 100%;
		height: 100vh;
	}
	.section{
		&-cnt{
			margin-top: 30px;
		}
		&_title{
			h1{
				font-size: 21px;
				line-height: 32px;
				color: $pri-col;
				margin-bottom: 10px;
			}
		}
		&_para{
			padding-right: 40px;
			padding-bottom: 40px;
			p{
				font-size: 14px;
				line-height: 24px;
				color: $nav-col;
				span{
					color: $spec-col;
					font-weight: bold;
				}
			}
		}
	}
	.section_contact{
		.section_para{
			display: flex;
			p{
				width: 100%;
			}
		}
	}

	.box-wrap{
		position: relative;
		width: 400px;
		height: 200px;
		transition: 400ms all ease-in-out;
		cursor: pointer;
		.box-cnt{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;
			padding: 20px;
			h5{
				color: $pri-col;
				font-size: 21px;
				line-height: 32px;
				letter-spacing: 0.02em;
				font-weight: bold;
				margin-bottom: 20px;
			}
			p{
				color: $nav-col;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0.02em;
				margin-bottom: 5px;
				span{
					color: $spec-col;
					font-weight: bold;
				}
			}
		}
		&.first{
			margin-top: 40px;
		}
		&:before{
			content: '';
			position: absolute;
		    left: 0;
		    top: 5%;
		    width: 2px;
		    height: 95%;
		    background: $spec-col;
		    transition: 400ms all ease-in-out;
		}
		&:after{
			content: '';
			position: absolute;
		    width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    border: 1px solid $spec-col;
		    top: 0%;
		    left: -4px;
		    transition: 400ms all ease-in-out;
		}
		&:hover{
			&:after{
				box-shadow: 0px 0px 25px 15px $spec-col;
				animation: glow 600ms infinite;
			}
		}
	}

	/*   Skills   */

	.skills-holder{
		margin-top: 100px;
		.skills-wrap{
			width: 200px;
		    height: 200px;
		    border-radius: 50%;
		    border: 5px solid $nav-col;
		    position: relative;
		    margin: 0 auto;
		    margin-bottom: 80px;
		    cursor: pointer;
		    transition: 400ms all ease-in-out;
		    .skills-cnt{
		    	width: 100%;
			    position: absolute;
			    top: 60%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    transition: 400ms all ease-in-out;
			    h4{
			    	font-size: 21px;
			    	line-height: 32px;
			    	letter-spacing: 0.1em;
			    	color: $pri-col;
			    	text-transform: uppercase;
			    	transition: 400ms all ease-in-out;
			    }
			    p{
			    	color: $pri-col;
			    	font-size: 18px;
			    	transition: 400ms all ease-in-out;
			    	opacity: 0;
			    }
		    }
		    &:before{
		    	content: '';
		    }
		    &:hover{
		    	border: 5px solid $spec-col;
		    	box-shadow: 0px 0px 35px 0px $spec-col;
		    	animation: skillglow 600ms infinite;
		    	.skills-cnt{
		    		top: 50%;
		    	}
		    	h4{
		    		/*color: $spec-col;*/
		    	}
		    	p{
		    		opacity: 1;
		    	}
		    }
		}
	}

	.contact-wrap{
		text-align: center;
	    margin-top: 100px;
	    .fa{
	    	font-size: 32px;
	    	line-height: 42px;
	    	margin-bottom: 20px;
	    	color: $spec-col;
	    	transition: 400ms all ease-in-out;
	    }
	    a{
	    	color: $pri-col;
	    	font-size: 21px;
	    	line-height: 32px;
	    	letter-spacing: 0.25em;
	    }
	    .mail-box{
	    	margin-bottom: 60px;

	    	&:hover{
	    		.fa{
	    			transform:scale(1.2);
	    		}
	    	}
	    }
	    .phone-box{
	    	&:hover{
	    		.fa{
	    			transform:scale(1.2);
	    		}
	    	}
	    }
	}
} /* Body Inner Ends */

































@keyframes jump{
	0%{
		top: 70%;
	}
	100%{
		top: 73%;
	}
}
@keyframes glow{
	0%{
		box-shadow: 0px 0px 0px 0px $spec-col;
	}
	100%{
		box-shadow: 0px 0px 25px 15px $spec-col;
	}
}
@keyframes skillglow{
	0%{
		box-shadow: 0px 0px 0px 0px $spec-col;
	}
	100%{
		box-shadow: 0px 0px 35px 0px $spec-col;
	}
}




