/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Font Family  */
/*  Varaibles  */
/*        Root       */
:root {
  /*background: #ff0000;*/
  color: #333333;
}

::selection {
  background: #00A3E1;
  color: #fff;
  text-shadow: none;
  /*font-family: $font;*/
}

/**************************************************************************




***************************************************************************/
body {
  font-family: "Rubik", sans-serif;
}

p {
  font-size: 14px;
  line-height: 34px;
}

a {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0;
}

.mob-header {
  display: none;
}

/* Menu Links */
.menu-links {
  background: #17181B;
  color: #FFFFFF;
  height: 100vh;
  /*max-width: 300px;*/
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.menu-links .image-holder {
  text-align: center;
  padding: 40px 0;
}
.menu-links .image-holder img {
  max-height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}
.menu-links .links ul {
  text-align: center;
}
.menu-links .links ul li {
  border-bottom: 1px solid #202226;
}
.menu-links .links ul li a {
  padding: 15px 30px;
  color: #777777;
  text-transform: uppercase;
  transition: 400ms all ease-in-out;
  display: block;
}
.menu-links .links ul li a:hover {
  color: #00A3E1;
}
.menu-links .links ul li a:hover li {
  border-bottom: 1px solid #FFFFFF;
}
.menu-links .social-links ul {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.menu-links .social-links ul li a {
  display: block;
  color: #777777;
  padding: 0 10px;
  transition: 400ms all ease-in-out;
  position: relative;
}
.menu-links .social-links ul li a .fa {
  font-size: 16px;
  padding: 10px 12px;
  transition: 400ms all ease-in-out;
  border-radius: 50%;
  border: 1px solid transparent;
}
.menu-links .social-links ul li a:hover {
  color: #00A3E1;
}
.menu-links .social-links ul li a:hover .fa {
  background: #FFFFFF;
  border-color: #00A3E1;
}

/************************************************************

		Banner Styles

**************************************************************/
.body-inner {
  max-height: 100vh;
  overflow: hidden;
  /************************************************************

  		About  Styles

  **************************************************************/
  /*   Skills   */
}
.body-inner section {
  width: 100%;
  max-height: 100vh;
  /*overflow: hidden;*/
  position: relative;
  background: #2C2D2F;
}
.body-inner .banner {
  width: 100%;
  height: 100vh;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.body-inner .banner .overlay {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.body-inner .banner_cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  text-align: center;
  /* &_arrow{
   	margin-top: 60px;
   	a{
   		color: $border-col;
   		height: 60px;
   		position: relative;
   		.fa{
   			font-size: 32px;
   			padding-top: 20px;
   			animation: jump 400ms infinite;
   		}
   	}
   }*/
}
.body-inner .banner_cnt_title {
  font-size: 48px;
  line-height: 58px;
  color: #17181B;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.body-inner .banner_cnt_title h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.body-inner .banner_cnt_title h1 span {
  color: #00A3E1;
}
.body-inner .banner_cnt_role {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.02em;
  width: 40%;
  margin: 0 auto;
}
.body-inner .banner_cnt_role h5 {
  font-weight: bold;
}
.body-inner .banner .banner_cnt_arrow {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  animation: jump 1s infinite;
}
.body-inner .banner .banner_cnt_arrow a {
  color: #17181B;
}
.body-inner .banner .banner_cnt_arrow a .fa {
  font-size: 32px;
}
.body-inner .sec-btn {
  color: #FFFFFF;
  width: 200px;
  height: 40px;
  border: 1px dashed #00A3E1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms all ease-in-out;
  position: relative;
  letter-spacing: 0.25em;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 100px;
  /*border-radius: 10px;*/
  /*z-index: 9999999;*/
}
.body-inner .sec-btn:before {
  content: "";
  position: absolute;
  /*z-index: -1;*/
  width: 200px;
  height: 40px;
  /*background: red;*/
}
.body-inner .sec-btn:hover {
  background: #00A3E1;
}
.body-inner .section_wrap {
  padding: 30px 60px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.body-inner .section_wrap .title_wrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px dashed #00A3E1;
  align-items: center;
}
.body-inner .section_wrap .title_wrap .title {
  width: 100%;
}
.body-inner .section_wrap .title_wrap .title h1 {
  font-size: 32px;
  line-height: 42px;
  color: #00A3E1;
}
.body-inner .section_wrap .title_wrap .icon {
  width: 100%;
  text-align: right;
}
.body-inner .section_wrap .title_wrap .icon .fa {
  font-size: 32px;
  line-height: 42px;
  color: #00A3E1;
}
.body-inner .about {
  width: 100%;
  height: 100vh;
}
.body-inner .section-cnt {
  margin-top: 30px;
}
.body-inner .section_title h1 {
  font-size: 21px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.body-inner .section_para {
  padding-right: 40px;
  padding-bottom: 40px;
}
.body-inner .section_para p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.body-inner .section_para p span {
  color: #00A3E1;
  font-weight: bold;
}
.body-inner .section_contact .section_para {
  display: flex;
}
.body-inner .section_contact .section_para p {
  width: 100%;
}
.body-inner .box-wrap {
  position: relative;
  width: 400px;
  height: 200px;
  transition: 400ms all ease-in-out;
  cursor: pointer;
}
.body-inner .box-wrap .box-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 20px;
}
.body-inner .box-wrap .box-cnt h5 {
  color: #FFFFFF;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-weight: bold;
  margin-bottom: 20px;
}
.body-inner .box-wrap .box-cnt p {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
.body-inner .box-wrap .box-cnt p span {
  color: #00A3E1;
  font-weight: bold;
}
.body-inner .box-wrap.first {
  margin-top: 40px;
}
.body-inner .box-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  width: 2px;
  height: 95%;
  background: #00A3E1;
  transition: 400ms all ease-in-out;
}
.body-inner .box-wrap:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #00A3E1;
  top: 0%;
  left: -4px;
  transition: 400ms all ease-in-out;
}
.body-inner .box-wrap:hover:after {
  box-shadow: 0px 0px 25px 15px #00A3E1;
  animation: glow 600ms infinite;
}
.body-inner .skills-holder {
  margin-top: 100px;
}
.body-inner .skills-holder .skills-wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #777777;
  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  cursor: pointer;
  transition: 400ms all ease-in-out;
}
.body-inner .skills-holder .skills-wrap .skills-cnt {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 400ms all ease-in-out;
}
.body-inner .skills-holder .skills-wrap .skills-cnt h4 {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: 400ms all ease-in-out;
}
.body-inner .skills-holder .skills-wrap .skills-cnt p {
  color: #FFFFFF;
  font-size: 18px;
  transition: 400ms all ease-in-out;
  opacity: 0;
}
.body-inner .skills-holder .skills-wrap:before {
  content: "";
}
.body-inner .skills-holder .skills-wrap:hover {
  border: 5px solid #00A3E1;
  box-shadow: 0px 0px 35px 0px #00A3E1;
  animation: skillglow 600ms infinite;
}
.body-inner .skills-holder .skills-wrap:hover .skills-cnt {
  top: 50%;
}
.body-inner .skills-holder .skills-wrap:hover h4 {
  /*color: $spec-col;*/
}
.body-inner .skills-holder .skills-wrap:hover p {
  opacity: 1;
}
.body-inner .contact-wrap {
  text-align: center;
  margin-top: 100px;
}
.body-inner .contact-wrap .fa {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  color: #00A3E1;
  transition: 400ms all ease-in-out;
}
.body-inner .contact-wrap a {
  color: #FFFFFF;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.25em;
}
.body-inner .contact-wrap .mail-box {
  margin-bottom: 60px;
}
.body-inner .contact-wrap .mail-box:hover .fa {
  transform: scale(1.2);
}
.body-inner .contact-wrap .phone-box:hover .fa {
  transform: scale(1.2);
}

/* Body Inner Ends */
@media screen and (max-width: 1024px) {
  /*.menu-links{
  	height: 100px;
  	position: relative;
  }*/
  /*body{
  	background: red;
  }*/
  .col-lg-2 {
    display: none;
  }

  .col-lg-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /*  Mobile Menu    */
  .mob-header {
    position: absolute;
    z-index: 999999;
    width: 100%;
    display: block;
  }
  .mob-header .mob-top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: #17181B;
  }
  .mob-header .mob-top-header .mob-menu {
    position: relative;
    /*width: 100%;*/
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu {
    position: relative;
    /*width: 80px;
    height: 80px;
    background: $nav-bg;
    padding-left: 10px;
    border-radius: 5px;*/
    margin-left: 60px;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span {
    transition: 400ms all ease-in-out;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span:after {
    content: "";
    width: 60px;
    height: 3px;
    background: #00A3E1;
    position: absolute;
    top: 20px;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span.middle {
    top: 20px;
    position: absolute;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span.bottom {
    top: 40px;
    position: absolute;
  }
  .mob-header .mob-top-header .mob-cnt {
    width: 100%;
    margin-right: 60px;
  }
  .mob-header .mob-top-header .mob-cnt h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #00A3E1;
  }
  .mob-header .mob-links {
    padding: 40px 60px;
    background: #17181B;
    transition: 600ms all ease-in-out;
    display: none;
    position: relative;
    /*left: -1024;*/
    /*height: 0;*/
    top: 300px;
    animation: fadeDown 1s forwards;
  }
  .mob-header .mob-links ul {
    transition: 600ms all ease-in-out;
    position: relative;
    /*height: 0;*/
    animation: fadeDown 1s forwards;
    padding-bottom: 30px;
  }
  .mob-header .mob-links ul li {
    padding: 20px 0;
  }
  .mob-header .mob-links ul li a {
    display: flex;
    align-items: center;
  }
  .mob-header .mob-links ul li a span {
    font-size: 16px;
    color: #00A3E1;
    text-align: center;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
  }
  .mob-header .mob-links ul li a .fa {
    font-size: 42px;
    color: #00A3E1;
  }

  .body-inner .section_wrap {
    padding-top: 180px;
  }
}
@media screen and (max-width: 768px) {
  .mob-header .mob-top-header {
    padding: 10px 0;
  }
  .mob-header .mob-links {
    padding: 20px 60px;
    /*left: -768px;*/
  }
}
@media screen and (max-width: 576px) {
  .mob-header .mob-top-header .mob-menu .burgur-menu {
    margin-left: 30px;
    height: 50px;
    top: -7px;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span:after {
    width: 40px;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span.middle {
    top: 10px;
  }
  .mob-header .mob-top-header .mob-menu .burgur-menu span.bottom {
    top: 20px;
  }
  .mob-header .mob-top-header .mob-cnt {
    margin-right: 20px;
  }
  .mob-header .mob-top-header .mob-cnt h1 {
    font-size: 21px;
    letter-spacing: 0.15em;
  }
  .mob-header .mob-links {
    padding: 0 30px;
    /*left: -576px;*/
  }
  .mob-header .mob-links ul li {
    padding: 15px 0;
  }
  .mob-header .mob-links ul li a .fa {
    font-size: 28px;
  }

  .body-inner .section-cnt {
    margin-top: 0;
  }
  .body-inner .banner_cnt_title {
    font-size: 28px;
    line-height: 38px;
  }
  .body-inner .banner_cnt_role {
    font-size: 21px;
    line-height: 32px;
    width: 100%;
  }
  .body-inner .section_wrap {
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .body-inner .section_wrap .title_wrap .title h1 {
    font-size: 18px;
    line-height: 28px;
  }
  .body-inner .section_wrap .title_wrap .icon .fa {
    font-size: 18px;
  }
  .body-inner .section_contact .section_para {
    display: block;
    padding-right: 0;
    padding-bottom: 0;
  }
  .body-inner .section_contact .section_para p {
    padding-bottom: 10px;
  }
  .body-inner .section_para {
    padding-right: 0;
  }
  .body-inner .sec-btn {
    margin-top: 40px;
    width: 100%;
  }
  .body-inner .section_title {
    margin-top: 20px;
  }
  .body-inner .skills-holder .skills-wrap {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .body-inner .skills-holder .skills-wrap .skills-cnt {
    top: 50%;
  }
  .body-inner .skills-holder .skills-wrap .skills-cnt p {
    opacity: 1;
  }
  .body-inner .skills-holder .skills-wrap:hover {
    animation: skillglow 600ms forwards;
  }
  .body-inner .box-wrap {
    width: 400px;
  }
}
@media screen and (max-width: 375px) {
  .body-inner .box-wrap {
    width: 355px;
  }

  .body-inner .section_wrap {
    padding-top: 80px;
  }
}
@media screen and (max-width: 320px) {
  .body-inner .box-wrap {
    width: 300px;
  }
}
@keyframes jump {
  0% {
    top: 70%;
  }
  100% {
    top: 73%;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px 0px #00A3E1;
  }
  100% {
    box-shadow: 0px 0px 25px 15px #00A3E1;
  }
}
@keyframes skillglow {
  0% {
    box-shadow: 0px 0px 0px 0px #00A3E1;
  }
  100% {
    box-shadow: 0px 0px 35px 0px #00A3E1;
  }
}
@keyframes fadeDown {
  /*0%{
  	height: 0;
  	opacity: 0;
  }
  20%{
  	height: 20%;
  	opacity: 0.1;
  }
  30%{
  	height: 30%;
  	opacity: 0.3;
  }
  40%{
  	height: 40%;
  	opacity: 0.4;
  }
  50%{
  	height: 50%;
  	opacity: 0.5;
  }
  60%{
  	height: 60%;
  	opacity: 0.6;
  }
  70%{
  	height: 70;
  	opacity: 0.7;
  }
  80%{
  	height: 80%;
  	opacity: 0.8;
  }
  90%{
  	height: 90%;
  	opacity: 0.9;
  }
  100%{
  	height: 100%;
  	opacity: 1;
  }*/
  from {
    top: -300px;
  }
  to {
    top: 0;
  }
}
